body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding-bottom: 1000px; /*white space at bottom of the page*/
    background-color: #c6d3ff;  /*Background color*/
}

/* Header/Logo */
#top-header {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #62b9ff;
    border-bottom: 2px solid #000;
}

#logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* Description Section */
#site-description-section {
    text-align: center;
    padding: 60px 20px 20px 20px;
    margin-top: 20px;  
}

#site-name {
    font-family: "Trade Winds";
    font-size: 32px;
    margin-bottom: 10px;
}

#site-description {
    font-family: "Trade Winds";
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
}

/*NAVBAR*/
#navbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background: #7bffe0;
    padding: 15px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px solid #000;
    z-index: 1000;
}

/* Make the cart stay on screen */
#cart-box {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #aeaeae;
    padding: 15px;
    width: 240px;
    border: 2px solid #000;
    z-index: 1000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 1px solid #aeaeae;
    padding: 10px;
    text-align: center;
}

/*product image sizes*/
.product img {
    width: 180px;   
    height: 180px;
    object-fit: cover; 
    border-radius: 8px;
}


h1 {
    margin-top: 80px;
}

/* Back to Top Button */
#back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    font-family: "Trade Winds";
    font-size: 16px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    z-index: 100;
}

#back-to-top:hover {
    background-color: #444;
}


#site-footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #62b9ff;
    border-top: 2px solid #000;
}
